@at-root .block-editor-block-patterns-list__item {
	position: relative;
	padding: 1px !important;

	&::before {
		content: "Block Pattern";
		display: block;
		padding: rem(8);
		color: #1e1e1e;
		font-weight: 600;
		font-size: rem(12);
		text-align: center;
		border-bottom: 1px solid #e0e0e0;
		background-color: #f0f0f0;
	}

	&::after {
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		content: "";
		border: 1px solid #e0e0e0;
		pointer-events: none;
	}

	.block-editor-block-patterns-list__item-title {
		padding: rem(8);
	}
}
