@import "../../../css/base-includes";

.wp-block-list,
.default-content ul,
.default-content ol {
	margin-bottom: 1.3333333333em;
	padding-left: 1.5em;

	&:last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		margin-top: 1em;

		@include media-breakpoint-up(md) {
			margin-top: 0.8888888889em;
		}
	}

	li {
		margin-bottom: 1em;

		@include media-breakpoint-up(md) {
			margin-bottom: 0.8888888889em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		ul,
		ol {
			margin-top: rem(16);
			margin-bottom: 0;

			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	&.is-style-check-icon {
		ul,
		ol {
			margin-top: 1em;

			@include media-breakpoint-up(md) {
				margin-top: 0.8888888889em;
			}
		}

		li {
			position: relative;
			margin-bottom: 0.5em;
			list-style-type: none;

			@include media-breakpoint-up(md) {
				margin-bottom: 1.3333333333em;
			}

			&::before {
				position: absolute;
				top: 0;
				left: -0.95em;
				content: "•";
				display: inline-block;
				color: paint(blue-1);
			}

			ul,
			ol {
				margin-top: 1em;

				@include media-breakpoint-up(md) {
					margin-top: 0.8888888889em;
				}

				li {
					margin-bottom: 1em;

					@include media-breakpoint-up(md) {
						margin-bottom: 0.8888888889em;
					}
				}
			}
		}

		> li {
			position: relative;

			&::before {
				@include icon-font( $icon-check-circle );

				top: -0.111111em;
				left: -1.38889em;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.125em !important;
				line-height: inherit;

				@include media-breakpoint-up(md) {
					top: -0.111111em;
					left: -1.38889em;
					font-size: rem(18) !important;
				}
			}
		}
	}
}

ul.wp-block-list,
.default-content ul {
	li {
		position: relative;
		list-style-type: none;

		&::before {
			position: absolute;
			top: 0;
			left: -0.95em;
			content: "•";
			display: inline-block;
			color: currentcolor;
		}
	}

	ul {
		padding-left: 1.5em;
	}
}

ol.wp-block-list,
.default-content ol {
	list-style-type: none;
	counter-reset: item;

	&[start] {
		counter-reset: none;
	}

	li {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			right: calc(100% + 0.3333333333em);
			content: counters(item, ".") ".";
			counter-increment: item;
		}
	}

	ol {
		counter-reset: subitem;

		li {
			&::before {
				content: counter(subitem, lower-alpha) ".";
				counter-increment: subitem;
			}
		}

		ol {
			counter-reset: subsubitem;

			li {
				&::before {
					content: counter(subsubitem, lower-roman) ".";
					counter-increment: subsubitem;
				}
			}
		}
	}
}
