@import "../../../../css/base-includes";

.block-card-text-link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 0;
	background-color: transparent;

	.wp-block-button {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		align-items: stretch;
		width: 100%;
		min-height: rem(52);
		padding: rem(6 0);

		&.is-style-tertiary {
			.wp-block-button__link {
				@include title-2(false);

				color: paint(text);
			}
		}

		.wp-block-button__link {
			position: static;
			display: flex;
			justify-content: space-between;
			width: 100%;
			text-align: left;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				content: "";
				display: block !important;
				width: 100%;
				height: 100%;
				border-bottom: 2px solid paint(button-default);
				background-color: transparent;
				transition: border $transition-standard;
			}

			&:hover {
				color: var(--blockHoverColor, paint(button-hover));

				&::before {
					border-color: paint(button-hover);
				}
			}
		}
	}
}
