@import "../../../css/base-includes";

.wp-block-html {
	padding: $block-spacing 0;

	&:first-child {
		.iframe-wrapper:first-child {
			margin-top: 0;
		}
	}

	&:last-child {
		.iframe-wrapper:last-child {
			margin-bottom: 0;
		}
	}

	.bg-transparent + & {
		padding-top: 0;
	}

	+ .acf-block.bg-transparent {
		padding-top: 0;
	}

	iframe:not([title="reCAPTCHA"]) {
		width: 100%;
		min-height: rem(400);
	}

	.iframe-wrapper {
		padding-bottom: 75%;
	}
}
