@import "../../../css/base-includes";

.block-accordion-side-image {
	overflow: hidden;

	&__row {
		position: relative;

		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__spacer {
		width: 100%;
		max-width: rem(640);

		@include media-breakpoint-down(sm) {
			margin-top: rem(48);
		}
	}

	&__spacer-inner {
		padding-bottom: 100%;
	}

	&__content {
		width: 100%;

		@include media-breakpoint-up(md) {
			flex: 0 0 calc(50% - #{$grid-gap} / 2);
			max-width: calc(50% - #{$grid-gap} / 2);
			margin-top: var(--marginTop, auto);
			margin-bottom: auto;
		}

		> *:not(.block-accordion-item__figure) {
			@include media-breakpoint-up(md) {
				width: rem(528);
				max-width: 100%;
			}
		}
	}

	.block-accordion {
		margin-top: responsive-values(32, 48);
		padding: 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.block-accordion-item {
		padding: 0;
		border-bottom: none;
		border-left: 2px solid paint(neutral-85);
		transition: border-color 0.4s ease-in-out;

		> .block-content {
			margin-bottom: 0;
		}

		&.active {
			border-color: paint(button-default);

			.block-accordion-side-image__button {
				cursor: auto;
			}

			+ .block-accordion-item__figure {
				opacity: 1;
			}
		}

		> .wp-block-button {
			.wp-block-button__link {
				@include title-1(false);

				padding: rem(20 16);
				border: none;

				&::before,
				&::after {
					display: none;
				}
			}
		}
	}

	.block-content {
		margin-top: rem(-12);
		margin-bottom: 0;
		padding: rem(0 16) !important;

		&::after {
			content: "";
			display: block;
			height: rem(20);
		}
	}

	&__button {
		@include title-1(false);

		display: block;
		width: 100%;
		margin: 0;
		padding: rem(20 0 20 20);
		color: paint(text);
		text-align: left;
		border: none;
		background-color: transparent;
		-webkit-appearance: none;
		appearance: none;
	}

	.block-accordion-item__figure {
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;

		@include media-breakpoint-up(md) {
			top: 50%;
			left: auto;
			bottom: auto;
			right: 0;
			width: calc(50% - #{$grid-gap} / 2);
			transform: translateY(-50%);
		}
	}

	.block-accordion-item__image-wrapper {
		width: 100%;
		padding-bottom: 100%;
	}
}
