.main-header {
	position: sticky;
	top: 0;
	z-index: 100;
	height: rem(64);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background-color: transparent;
	transition: background-color 0.4s ease-in-out;

	body.admin-bar & {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	body.post-type-archive-library_block & {
		position: relative;
	}

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: rem(64);
	}

	&__logo {
		position: relative;
		z-index: 999;
		display: block;
		flex: 0 0 responsive-values(80, 126, 375, "sm");
		width: responsive-values(80, 126, 375, "sm");
		margin-right: responsive-values(24, 40, "lg", "xxl");
		transition: transform 0.4s ease-in-out;

		body.primary-submenu-open.primary-menu-open:not(.search-open) & {
			@include media-breakpoint-down(md) {
				transform: translateX(calc(var(--vw, 1vw) * -100));
			}
		}
	}

	&__logo-light,
	&__logo-dark {
		width: responsive-values(80, 126, 375, "sm");
		transition: opacity 0.4s ease-in-out;
	}

	&__logo-light {
		display: block;

		body.page-has-alt-nav:not(.primary-submenu-open):not(.primary-menu-open):not(.scrolled) & {
			opacity: 0;
		}
	}

	&__logo-dark {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		body.page-has-alt-nav:not(.primary-submenu-open):not(.primary-menu-open):not(.scrolled) & {
			opacity: 1;
		}
	}
}
