@import "../../../css/base-includes";

.wp-block-table {
	@include subtitle-2(false);

	border-collapse: inherit;
	border-spacing: 0;
	background-color: transparent;

	@include headings(1, 6, "", "+") {
		margin-top: rem(48) !important;
	}

	.content-wrapper > & {
		@include responsive-grid(12, 12, 12, 12, 12, 12);

		margin: $block-spacing auto;
	}

	p + & {
		margin-top: rem(48) !important;
	}

	.acf-block.bg-transparent + & {
		margin-top: 0;
	}

	+ .acf-block.bg-transparent {
		padding-top: 0;
	}

	&.is-style-flip {
		table {
			@include media-breakpoint-down(sm) {
				display: grid;
				width: calc(100% + var(--gutterWidth, #{rem(20)}));
				overflow-x: auto;
			}
		}

		thead,
		tbody,
		tfoot,
		tr {
			@include media-breakpoint-down(sm) {
				display: contents;
			}
		}

		th,
		td {
			@include media-breakpoint-down(sm) {
				grid-row: var(--mobileRow, auto) / span 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				min-width: rem(160);
			}
		}

		tbody tr:nth-child(odd) {
			td {
				background-color: paint(neutral-98);
			}
		}
	}

	&.is-style-scroll {
		table {
			@include media-breakpoint-down(sm) {
				display: grid;
				width: calc(100% + var(--gutterWidth, #{rem(20)}));
				overflow-x: auto;
			}
		}

		th,
		td {
			@include media-breakpoint-down(sm) {
				min-width: rem(160);
			}
		}
	}

	&.is-style-stack {
		thead {
			@include media-breakpoint-down(sm) {
				display: none;
			}

			th {
				&:first-child {
					@include media-breakpoint-up(md) {
						min-width: rem(216);
					}
				}
			}
		}

		tr {
			@include media-breakpoint-down(sm) {
				display: block;
				padding: rem(24 20);
				border-bottom: 1px solid paint(neutral-85);
			}
		}

		td {
			@include media-breakpoint-down(sm) {
				display: block;
				padding: 0;
				border: none;
			}

			&:not(:last-child) {
				@include media-breakpoint-down(sm) {
					margin-bottom: rem(20);
				}
			}
		}
	}

	&__mobile-label {
		@include overline(false);

		margin-bottom: rem(4);

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	table {
		width: 100%;
	}

	tbody tr:nth-child(odd) {
		background-color: paint(neutral-92);
	}

	thead,
	tbody,
	tfoot {
		border: none;
	}

	thead,
	tfoot {
		@include overline(false);
	}

	td,
	th {
		padding: rem(16);
		border-bottom: 1px solid paint(neutral-85);
	}

	th {
		@include overline(false);
	}

	td {
		@include subtitle-1(false);
	}

	.has-fixed-layout {
		width: 100%;
		table-layout: fixed;

		td,
		th {
			word-break: break-word;
		}
	}

	&.alignleft,
	&.aligncenter,
	&.alignright {
		display: table;
		width: auto;

		td,
		th {
			word-break: break-word;
		}
	}

	.bg-dark &,
	.bg-black & {
		tbody tr:nth-child(odd) {
			background-color: paint(neutral-16);
		}
	}
}
